#main-content {
    display: flex;
    justify-content: space-around;
}

#pastCities {
    display: grid;
}

#current-city-weather {
    padding-left: 1em;
}

.current-city-header {
    /* background-color: red; */
    display: flex;
    align-items: center;
}

.weather-icons {
    text-align: center;
}
.current-city-header h2 {
    float: left;
}

.current-city-header img {
    position: relative;
    width: 75px;
    height: 75px;
    padding-left: 10px;
}